<div class="container">

  <div class="section">
    <img class="logo" src="/images/logo.svg" />
  </div>

  <div class="section">
    <p>Daily baked goods for you!</p>
    <p>Come today and have a taste of our daily special!!</p>
  </div>

  <div class="section">
    <p>Today:</p>
    <p>{{today}}</p>
    <div class="dailyDish">
      <p>{{daily}}</p>
    </div>
  </div>

  <div class="section callAction">
    <p>Join our Telegram Bot to get everyday the daily special!</p>
    <a href="https://telegram.me/TRBakeryBot"><img src="/images/telegram.png" alt=""></a>
  </div>


</div>