<div class="container">
  <div class="section headerSection">
    <img src="/images/logo.svg" />
  </div>
  <div class="section descriptionSection">
    <p>Daily baked goods for you!</p>
    <p>Come today and have a taste of our daily special!!</p>
  </div>
  <div class="section dailySection">

    <p>{{today}}</p>
    <div class="dailyDish">
      <p>{{daily}}</p>
    </div>

  </div>
  <div class="section imageDaily">
    <img src="https://source.unsplash.com/600x400/?{{imgDaily}}">
  </div>


</div>